In [120]:
from scipy import stats
import pandas as pd

# Our FPdataset.csv is composed of dak.csv, heart.csv, data.csv, Heart_Disease_Prediction.csv
# heart.csv
dfheart = pd.read_csv('heart.csv')
# data.csv
dfdata = pd.read_csv('data.csv')
# Heart_Disease_Prediction.csv
dfheart_pred = pd.read_csv(' Heart_Disease_Prediction.csv')
# bak.csv
dfbak = pd.read_csv('bak.csv')


old_names = list(dfdata.columns)
new_names = list(dfheart.columns)
dfdata.columns = new_names
dfheart_pred.columns = new_names
dfbak.columns = new_names

In [121]:
dfheart.cp.replace({0:1, 1:2, 2:3, 3:4}, inplace = True)
# replace the original from 1:true, 0:false, To 1:true, 2: false, 0: nan
dfheart.fbs.replace({0:2}, inplace = True)
#012 -> 123, 0: nan
dfheart.restecg.replace({0:1, 1:2, 2:3}, inplace = True)
dfheart.exng.replace({0:1, 1:2}, inplace = True)
dfheart.caa.replace({4:3}, inplace = True)
dfheart.thall.replace({1:3, 2:6, 3:7}, inplace = True)
df = dfheart
dfheart.head(10)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,4,145,233,1,1,150,1,2.3,0,0,3,1
1,37,1,3,130,250,2,2,187,1,3.5,0,0,6,1
2,41,0,2,130,204,2,1,172,1,1.4,2,0,6,1
3,56,1,2,120,236,2,2,178,1,0.8,2,0,6,1
4,57,0,1,120,354,2,2,163,2,0.6,2,0,6,1
5,57,1,1,140,192,2,2,148,1,0.4,1,0,3,1
6,56,0,2,140,294,2,1,153,1,1.3,1,0,6,1
7,44,1,2,120,263,2,2,173,1,0.0,2,0,7,1
8,52,1,3,172,199,1,2,162,1,0.5,2,0,7,1
9,57,1,3,150,168,2,2,174,1,1.6,2,0,6,1

In [122]:
# replace the original from 1:true, 0:false, To 1:true, 2: false, 0: nan
dfdata.fbs.replace({'0':'2'}, inplace = True)
#012 -> 123, 0: nan
dfdata.restecg.replace({'0':'1', '1':'2', '2':'3'}, inplace = True)
dfdata.exng.replace({'0':'1', '1':'2'}, inplace = True)

df = df.append(dfdata, ignore_index=True)
dfdata.head(10)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,28,1,2,130,132,2,3,185,1,0.0,?,?,?,0
1,29,1,2,120,243,2,1,160,1,0.0,?,?,?,0
2,29,1,2,140,?,2,1,170,1,0.0,?,?,?,0
3,30,0,1,170,237,2,2,170,1,0.0,?,?,6,0
4,31,0,2,100,219,2,2,150,1,0.0,?,?,?,0
5,32,0,2,105,198,2,1,165,1,0.0,?,?,?,0
6,32,1,2,110,225,2,1,184,1,0.0,?,?,?,0
7,32,1,2,125,254,2,1,155,1,0.0,?,?,?,0
8,33,1,3,120,298,2,1,185,1,0.0,?,?,?,0
9,34,0,2,130,161,2,1,190,1,0.0,?,?,?,0

In [123]:
# replace the original from 1:true, 0:false, To 1:true, 2: false, 0: nan
dfheart_pred.fbs.replace({0:2}, inplace = True)
dfheart_pred.replace("Absence", "0",inplace = True)
dfheart_pred.replace("Presence", "1",inplace = True)

df = df.append(dfheart_pred, ignore_index=True)
dfheart_pred.head(10)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,70,1,4,130,322,2,2,109,0,2.4,2,3,3,1
1,67,0,3,115,564,2,2,160,0,1.6,2,0,7,0
2,57,1,2,124,261,2,0,141,0,0.3,1,0,7,1
3,64,1,4,128,263,2,0,105,1,0.2,2,1,7,0
4,74,0,2,120,269,2,2,121,1,0.2,1,1,3,0
5,65,1,4,120,177,2,0,140,0,0.4,1,0,7,0
6,56,1,3,130,256,1,2,142,1,0.6,2,1,6,1
7,59,1,4,110,239,2,2,142,1,1.2,2,1,7,1
8,60,1,4,140,293,2,2,170,0,1.2,2,2,7,1
9,63,0,4,150,407,2,2,154,0,4.0,2,3,7,1

In [124]:

dfbak.sex.replace({0:1, 1:2}, inplace = True)
# replace the original from 1:true, 0:false, To 1:true, 2: false, 0: nan
dfbak.fbs.replace({'0':'2'}, inplace = True)
#012 -> 123, 0: nan
dfbak.restecg.replace({0:1, 1:2, 2:3}, inplace = True)
dfbak.exng.replace({'0':'1', '1':'2'}, inplace = True)
dfbak.thall.replace({'1':'3', '2':'6', '3':'7'}, inplace = True)
dfbak.output.replace([2, 3, 4], 1, inplace=True)
df = df.append(dfbak, ignore_index=True)
dfbak.head(10)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,44,2,4,130,209,2,2,127,1,0,?,?,?,0
1,60,2,4,132,218,2,2,140,2,1.5,3,?,?,1
2,55,2,4,142,228,2,2,149,2,2.5,1,?,?,1
3,66,2,3,110,213,1,3,99,2,1.3,2,?,?,0
4,66,2,3,120,0,2,2,120,1,-0.5,1,?,6,0
5,65,2,4,150,236,1,2,105,2,0,?,?,?,1
6,60,2,3,180,0,2,2,140,2,1.5,2,?,?,0
7,60,2,3,120,0,?,1,141,2,2,1,?,?,1
8,60,2,2,160,267,1,2,157,1,0.5,2,?,?,1
9,56,2,2,126,166,2,2,140,1,0,?,?,?,0

In [127]:
df.replace({'?':'0'}, inplace = True)
df.drop_duplicates()
df.to_csv("FP_new_dataset.csv")
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,4,145,233,1,1,150,1,2.3,0,0,3,1
1,37,1,3,130,250,2,2,187,1,3.5,0,0,6,1
2,41,0,2,130,204,2,1,172,1,1.4,2,0,6,1
3,56,1,2,120,236,2,2,178,1,0.8,2,0,6,1
4,57,0,1,120,354,2,2,163,2,0.6,2,0,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061,54,1,4,127,333,1,2,154,1,0,0,0,0,1
1062,62,2,1,0,139,2,2,0,0,0,0,0,0,0
1063,55,2,4,122,223,1,2,100,1,0,0,0,6,1
1064,58,2,4,0,385,1,3,0,0,0,0,0,0,0
1065,62,2,2,120,254,2,3,93,2,0,0,0,0,1