In [1]:
from scipy import stats
import pandas as pd

dfheart = pd.read_csv('heart.csv')
dfdata = pd.read_csv('data.csv', na_values = "?").fillna("0")
old_names = list(dfdata.columns)
new_names = list(dfheart.columns)

dfdata.columns = new_names

df = dfdata.append(dfheart, ignore_index=True)

In [2]:
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,28,1,2,130,132,0,2,185,0,0.0,0,0,0,0
1,29,1,2,120,243,0,0,160,0,0.0,0,0,0,0
2,29,1,2,140,0,0,0,170,0,0.0,0,0,0,0
3,30,0,1,170,237,0,1,170,0,0.0,0,0,6,0
4,31,0,2,100,219,0,1,150,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
593,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
594,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
595,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
596,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
dfheart_pred = pd.read_csv(' Heart_Disease_Prediction.csv')
dfheart_pred.columns = new_names

df = df.append(dfheart_pred, ignore_index=True)
df.replace("Absence", "0",inplace = True)
df.replace("Presence", "1",inplace = True)

In [4]:
df.drop_duplicates()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,28,1,2,130,132,0,2,185,0,0.0,0,0,0,0
1,29,1,2,120,243,0,0,160,0,0.0,0,0,0,0
2,29,1,2,140,0,0,0,170,0,0.0,0,0,0,0
3,30,0,1,170,237,0,1,170,0,0.0,0,0,6,0
4,31,0,2,100,219,0,1,150,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,52,1,3,172,199,1,0,162,0,0.5,1,0,7,0
863,44,1,2,120,263,0,0,173,0,0.0,1,0,7,0
864,56,0,2,140,294,0,2,153,0,1.3,2,0,3,0
865,57,1,4,140,192,0,0,148,0,0.4,2,0,6,0
866,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1

In [5]:
dfbak = pd.read_csv('bak.csv', na_values = "?").fillna("0")
dfbak.columns = new_names
dfbak

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,44,1,4,130,209,0,1,127,0,0,0,0,0,0
1,60,1,4,132,218,0,1,140,1,1.5,3,0,0,2
2,55,1,4,142,228,0,1,149,1,2.5,1,0,0,1
3,66,1,3,110,213,1,2,99,1,1.3,2,0,0,0
4,66,1,3,120,0,0,1,120,0,-0.5,1,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,54,0,4,127,333,1,1,154,0,0,0,0,0,1
195,62,1,1,0,139,0,1,0,0,0,0,0,0,0
196,55,1,4,122,223,1,1,100,0,0,0,0,6,2
197,58,1,4,0,385,1,2,0,0,0,0,0,0,0
198,62,1,2,120,254,0,2,93,1,0,0,0,0,1

In [6]:
df = df.append(dfbak, ignore_index=True)

df.to_csv("FPdataset.csv")

In [7]:
df.drop_duplicates()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,28,1,2,130,132,0,2,185,0,0,0,0,0,0
1,29,1,2,120,243,0,0,160,0,0,0,0,0,0
2,29,1,2,140,0,0,0,170,0,0,0,0,0,0
3,30,0,1,170,237,0,1,170,0,0,0,0,6,0
4,31,0,2,100,219,0,1,150,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061,54,0,4,127,333,1,1,154,0,0,0,0,0,1
1062,62,1,1,0,139,0,1,0,0,0,0,0,0,0
1063,55,1,4,122,223,1,1,100,0,0,0,0,6,2
1064,58,1,4,0,385,1,2,0,0,0,0,0,0,0
1065,62,1,2,120,254,0,2,93,1,0,0,0,0,1