<center> <h2> Heart Disease Analysis and Prediction Dataset </h2></center>

# Group 22

In [1]:
from scipy import stats
import pandas as pd

# Our FPdataset.csv is composed of dak.csv, heart.csv, data.csv, Heart_Disease_Prediction.csv
# heart.csv
dfheart = pd.read_csv('heart.csv')
# data.csv
dfdata = pd.read_csv('data.csv', na_values = "?").fillna("0")
# the new columns list 
old_names = list(dfdata.columns)
new_names = list(dfheart.columns)
dfdata.columns = new_names
# we use the dfdata dataframe as the orginal one to append the dfheart on 
df = dfdata.append(dfheart, ignore_index=True)

In [2]:
# Heart_Disease_Prediction.csv
dfheart_pred = pd.read_csv(' Heart_Disease_Prediction.csv')
dfheart_pred.columns = new_names
# append the dfheart_pred on existing one
df = df.append(dfheart_pred, ignore_index=True)
df.replace("Absence", "0",inplace = True)
df.replace("Presence", "1",inplace = True)

In [3]:
# dak.csv
dfbak = pd.read_csv('bak.csv', na_values = "?").fillna("0")
dfbak.columns = new_names
# append the dfbak on the existing one 
df = df.append(dfbak, ignore_index=True)
# save the dataset as FPdataset.csv
df.drop_duplicates()
df.to_csv("FPdataset.csv")

In [4]:
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,28,1,2,130,132,0,2,185,0,0,0,0,0,0
1,29,1,2,120,243,0,0,160,0,0,0,0,0,0
2,29,1,2,140,0,0,0,170,0,0,0,0,0,0
3,30,0,1,170,237,0,1,170,0,0,0,0,6,0
4,31,0,2,100,219,0,1,150,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061,54,0,4,127,333,1,1,154,0,0,0,0,0,1
1062,62,1,1,0,139,0,1,0,0,0,0,0,0,0
1063,55,1,4,122,223,1,1,100,0,0,0,0,6,2
1064,58,1,4,0,385,1,2,0,0,0,0,0,0,0
1065,62,1,2,120,254,0,2,93,1,0,0,0,0,1

In [5]:

final = pd.read_csv("FPdataset.csv")


percentages = pd.DataFrame(final["output"].value_counts())
percentages["percent"] = ( percentages["output"] / percentages["output"].sum() ) * 100

percentages

   output    percent
0     527  49.437148
1     447  41.932458
3      42   3.939962
2      40   3.752345
4      10   0.938086